<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{bloggerName}}!</h2>
  </div>
</div>
  
  <h3>Create a New Blog!</h3>
<div class="row">
    <form class="new-request-form" id="new-request-form">
      <div class = "row">
        <div class = "input-field col s12">
          <input id="blog-title" type="text" class="validate">
           <label for="blog-title">Blog Title</label>
        </div>
        <div class="input-field col s12">
          <input id="blog-content" type="text" class="validate">
            <label for="blog-content">Blog Content</label>
        </div>
      </div>
     <div class="form-group">
      <button type="submit" class="btn btn-primary">Create</button>
    </div>       
    </form>
  </div>
  <script src="./js/blog.js"></script>
        

