<div class="row">
    <div class="col s12 m6">
        <div class="card">
                <div class="card-image">
                    <img src="https://www.dogster.com/wp-content/uploads/2017/06/rsz_shutterstock_2220635643.jpg.webp">
                </div>
                <div class="card-content">
                    <p>Click the following link to view all blogs that have been previously submitted</p>
                </div>
                <div class="card-action">
                    <a href="/blog">View Current Blogs</a>
                </div>
            </div>
        </div>    
        <div class="col s12 m6">
            <div class="card">
                <div class="card-image">
                    <img src="https://www.akc.org/wp-content/uploads/2021/03/Dachshund-excited-to-snuggle-and-kiss-a-young-man-on-the-couch.jpeg">
                </div>
                <div class="card-content">
                    <p>This link will enable you to log in or create a new log in, so that you can post your thoughts!</p>
                </div>
                <div class="card-action">
                    <a href="/create">Post a New Blog</a>
                </div>
            </div>
        </div>
</div>
