<div class="row">
    <div class="col s12 m6">
        <div class="card">
                <div class="card-image">
                    <img src="https://cdn.mentorcruise.com/cdn-cgi/image/width=1200,format=auto/https://cdn.mentorcruise.com/blog/images/Technology_Blogs.jpg">
                </div>
                <div class="card-content">
                    <p>Click the following link to view all blogs that have been previously submitted</p>
                </div>
                <div class="card-action">
                    <a href="/blog">View Current Blogs</a>
                </div>
            </div>
        </div>    
        <div class="col s12 m6">
            <div class="card">
                <div class="card-image">
                    <img src="https://d11xrvp9l4ngvc.cloudfront.net/images/blogs/Blog_writing.jpg">
                </div>
                <div class="card-content">
                    <p>This link will enable you to log in or create a new log in, so that you can post your thoughts!</p>
                </div>
                <div class="card-action">
                    <a href="/create">Post a New Blog</a>
                </div>
            </div>
        </div>
</div>
